In [93]:
import numpy as np
from numpy import savetxt
import pandas as pd
import datetime
import os
import glob
import json
import csv

In [94]:
data = pd.read_csv('certificates.csv')

C:\Users\KingRemy\AppData\Local\Temp\ipykernel_38680\667726140.py:1: DtypeWarning: Columns (34) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('certificates.csv')

In [84]:
data.head()

,LMK_KEY,ADDRESS1,ADDRESS2,ADDRESS3,POSTCODE,BUILDING_REFERENCE_NUMBER,CURRENT_ENERGY_RATING,POTENTIAL_ENERGY_RATING,CURRENT_ENERGY_EFFICIENCY,POTENTIAL_ENERGY_EFFICIENCY,...,LOCAL_AUTHORITY_LABEL,CONSTITUENCY_LABEL,POSTTOWN,CONSTRUCTION_AGE_BAND,LODGEMENT_DATETIME,TENURE,FIXED_LIGHTING_OUTLETS_COUNT,LOW_ENERGY_FIXED_LIGHT_COUNT,UPRN,UPRN_SOURCE
0,1225531369222014102221521799828174,"7, Enstone Court",NaN,NaN,ST5 4JE,7958629278,C,B,69,86,...,Newcastle-under-Lyme,Newcastle-under-Lyme,NEWCASTLE,England and Wales: 1976-1982,2014-10-22 21:52:17,owner-occupied,10.0,0.0,1.000317e+11,Address Matched
1,790669781812012052109391995220690,"3, Beasley Place",NaN,NaN,ST5 7PF,6098158968,B,B,85,85,...,Newcastle-under-Lyme,Newcastle-under-Lyme,NEWCASTLE,NO DATA!,2012-05-21 09:39:19,NaN,9.0,9.0,1.000317e+11,Address Matched
2,367642649152009092114161306210960,"123, Church Street",Silverdale,NaN,ST5 6JJ,9040967668,E,D,41,56,...,Newcastle-under-Lyme,Newcastle-under-Lyme,NEWCASTLE,England and Wales: before 1900,2009-09-21 14:16:13,owner-occupied,NaN,NaN,1.000317e+11,Address Matched
3,1275322199062017121112172682288793,"1, Springpool",Keele,NaN,ST5 5BN,9847952378,C,B,69,83,...,Newcastle-under-Lyme,Newcastle-under-Lyme,NEWCASTLE,England and Wales: 1967-1975,2017-12-11 12:17:26,unknown,NaN,NaN,1.000224e+10,Address Matched
4,572596109062010120713525022138790,"21, St. Martins Road",Talke Pits,NaN,ST7 1QS,9276022868,D,C,60,75,...,Newcastle-under-Lyme,Stoke-on-Trent North,STOKE-ON-TRENT,England and Wales: 1950-1966,2010-12-07 13:52:50,owner-occupied,NaN,NaN,1.000318e+11,Address Matched

In [85]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42196 entries, 0 to 42195
Data columns (total 92 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   LMK_KEY                        42196 non-null  object
 1   ADDRESS1                       42196 non-null  object
 2   ADDRESS2                       21637 non-null  object
 3   ADDRESS3                       3427 non-null   object
 4   POSTCODE                       42196 non-null  object
 5   BUILDING_REFERENCE_NUMBER      42196 non-null  int64
 6   CURRENT_ENERGY_RATING          42196 non-null  object
 7   POTENTIAL_ENERGY_RATING        42196 non-null  object
 8   CURRENT_ENERGY_EFFICIENCY      42196 non-null  int64
 9   POTENTIAL_ENERGY_EFFICIENCY    42196 non-null  int64
 10  PROPERTY_TYPE                  42196 non-null  object
 11  BUILT_FORM                     42157 non-null  object
 12  INSPECTION_DATE                42196 non-null  object
 13  LOCAL_AUTHORITY                42196 non-null  object
 14  CONSTITUENCY                   42196 non-null  object
 15  COUNTY                         42196 non-null  object
 16  LODGEMENT_DATE                 42196 non-null  object
 17  TRANSACTION_TYPE               42196 non-null  object
 18  ENVIRONMENT_IMPACT_CURRENT     42196 non-null  int64
 19  ENVIRONMENT_IMPACT_POTENTIAL   42196 non-null  int64
 20  ENERGY_CONSUMPTION_CURRENT     42196 non-null  int64
 21  ENERGY_CONSUMPTION_POTENTIAL   42196 non-null  float64
 22  CO2_EMISSIONS_CURRENT          42196 non-null  float64
 23  CO2_EMISS_CURR_PER_FLOOR_AREA  42196 non-null  float64
 24  CO2_EMISSIONS_POTENTIAL        42196 non-null  float64
 25  LIGHTING_COST_CURRENT          42196 non-null  float64
 26  LIGHTING_COST_POTENTIAL        42196 non-null  float64
 27  HEATING_COST_CURRENT           42196 non-null  float64
 28  HEATING_COST_POTENTIAL         42196 non-null  float64
 29  HOT_WATER_COST_CURRENT         42196 non-null  float64
 30  HOT_WATER_COST_POTENTIAL       42196 non-null  float64
 31  TOTAL_FLOOR_AREA               42196 non-null  float64
 32  ENERGY_TARIFF                  42196 non-null  object
 33  MAINS_GAS_FLAG                 37848 non-null  object
 34  FLOOR_LEVEL                    37729 non-null  object
 35  FLAT_TOP_STOREY                6495 non-null   object
 36  FLAT_STOREY_COUNT              1599 non-null   float64
 37  MAIN_HEATING_CONTROLS          33331 non-null  float64
 38  MULTI_GLAZE_PROPORTION         38586 non-null  float64
 39  GLAZED_TYPE                    41524 non-null  object
 40  GLAZED_AREA                    41553 non-null  object
 41  EXTENSION_COUNT                38052 non-null  float64
 42  NUMBER_HABITABLE_ROOMS         38052 non-null  float64
 43  NUMBER_HEATED_ROOMS            38052 non-null  float64
 44  LOW_ENERGY_LIGHTING            40577 non-null  float64
 45  NUMBER_OPEN_FIREPLACES         41250 non-null  float64
 46  HOTWATER_DESCRIPTION           42196 non-null  object
 47  HOT_WATER_ENERGY_EFF           42077 non-null  object
 48  HOT_WATER_ENV_EFF              42077 non-null  object
 49  FLOOR_DESCRIPTION              42196 non-null  object
 50  FLOOR_ENERGY_EFF               16360 non-null  object
 51  FLOOR_ENV_EFF                  3324 non-null   object
 52  WINDOWS_DESCRIPTION            42167 non-null  object
 53  WINDOWS_ENERGY_EFF             42179 non-null  object
 54  WINDOWS_ENV_EFF                42179 non-null  object
 55  WALLS_DESCRIPTION              42196 non-null  object
 56  WALLS_ENERGY_EFF               42179 non-null  object
 57  WALLS_ENV_EFF                  42179 non-null  object
 58  SECONDHEAT_DESCRIPTION         42196 non-null  object
 59  SHEATING_ENERGY_EFF            0 non-null      float64
 60  SHEATING_ENV_EFF               0 non-null      float64
 61  ROOF_DESCRIPTION               42193 non-null  object
 62  ROOF_ENERGY_EFF                38236 non-null  object
 63  ROOF_ENV_EFF                   38236 non-null  object
 64  MAINHEAT_DESCRIPTION           42196 non-null  object
 65  MAINHEAT_ENERGY_EFF            42077 non-null  object
 66  MAINHEAT_ENV_EFF               42077 non-null  object
 67  MAINHEATCONT_DESCRIPTION       42196 non-null  object
 68  MAINHEATC_ENERGY_EFF           42147 non-null  object
 69  MAINHEATC_ENV_EFF              42147 non-null  object
 70  LIGHTING_DESCRIPTION           42196 non-null  object
 71  LIGHTING_ENERGY_EFF            42150 non-null  object
 72  LIGHTING_ENV_EFF               42179 non-null  object
 73  MAIN_FUEL                      42132 non-null  object
 74  WIND_TURBINE_COUNT             39716 non-null  float64
 75  HEAT_LOSS_CORRIDOR             37560 non-null  object
 76  UNHEATED_CORRIDOR_LENGTH       2504 non-null   float64
 77  FLOOR_HEIGHT                   18195 non-null  float64
 78  PHOTO_SUPPLY                   24483 non-null  float64
 79  SOLAR_WATER_HEATING_FLAG       25832 non-null  object
 80  MECHANICAL_VENTILATION         41553 non-null  object
 81  ADDRESS                        42196 non-null  object
 82  LOCAL_AUTHORITY_LABEL          42196 non-null  object
 83  CONSTITUENCY_LABEL             42196 non-null  object
 84  POSTTOWN                       42163 non-null  object
 85  CONSTRUCTION_AGE_BAND          41833 non-null  object
 86  LODGEMENT_DATETIME             42196 non-null  object
 87  TENURE                         41155 non-null  object
 88  FIXED_LIGHTING_OUTLETS_COUNT   20837 non-null  float64
 89  LOW_ENERGY_FIXED_LIGHT_COUNT   16560 non-null  float64
 90  UPRN                           41667 non-null  float64
 91  UPRN_SOURCE                    41667 non-null  object
dtypes: float64(28), int64(6), object(58)
memory usage: 29.6+ MB

In [86]:
# data[data['POSTCODE'].str.contains('ST')==False]

In [87]:
# data.drop(data[data['POSTCODE'].str.contains('ST')==False].index, inplace=True)
# data1 = data1['POSTCODE']

In [89]:
data['POSTCODE'].nunique()
data['POSTCODE'].unique()

2817

In [98]:
data1 = data['POSTCODE'].unique()
np.savetxt('Postcodes_Newcastle-under-Lyme.csv', data1, delimiter=',', fmt='%s')

In [95]:
data1 = data.groupby('POSTCODE').agg({'POSTCODE':''})
data1.to_csv('Postcodes_Newcastle-under-Lyme.csv',index=False)

          POSTCODE
POSTCODE
CW2 5PY          9
CW2 5QB          4
CW2 5QD          6
CW2 5QE          8
CW2 5QF          1
...            ...
TF9 4RL          6
TF9 4RN          8
TF9 4RP         32
TF9 4RQ          1
TF9 4RW         15

[2817 rows x 1 columns]

In [ ]:
data1.nunique()